@import "../../app.scss";

.education {
  background: linear-gradient(180deg, #0c0c1d, #111132);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  .text-container {
    flex: 1;
    align-self: flex-end;
    display: flex;
    align-items: center;
    gap: 20;
    margin-top: 20px;
    
    @include mobile {
      align-self: center;
      text-align: center;
      flex-direction: column;  
    }

    @include tablet {
      align-self: center;
      text-align: center;
      flex-direction: column;  
    }

    p {
      font-weight: 200;
      font-size: 15px;
      color: gray;
      text-align: right;

      @include mobile {
        margin-left: 200px;
      }
    }

    hr {
      width: 300px;
      border: none;
      border-top: 0.5px solid gray;

      @include mobile {
        width: 250px;
        margin-left: 180px;
      }
    }
  }

  .title-container {
     flex: 2;
     display: flex;
     flex-direction: column;
     align-items: center;
     margin-top: 20px;

     @include mobile {
      width: 100%;
    }

    .title {
      display: flex;
      align-items: center;
      gap: 30px;

      
      @include tablet {
        // flex-direction: column;
        text-align: center;
        gap: 20px;
      }

      @include mobile {
        flex-direction: column;
        text-align: center;
        gap: 20px;
      }


      img {
        width: 300px;
        height: 80px;  
        object-fit: fill;
        border-radius: 50px;  
        
        @include mobile {
          width: 200px;
          height: 70px;
          align-self: center;
        }

      }

      h1 {
        font-size: 50px;
        letter-spacing: 3px;
        font-weight: bold;

        @include mobile {
          font-size: 30px;
        }

        span {
          color: purple;
          font-weight: bolder;
        }
      }

    }
  }

  .list-container {
      flex: 2;
      display: flex;
      max-width: 1366px;
      margin: 40px;
      margin-top: 40px;
      gap: 40px;

      
      @include tablet {
        flex-direction: column;
        width: 80%;
        align-self: center;
        gap: 10px;
      }

      @include mobile {
        flex-direction: column;
        width: 80%;
        align-self: center;
        gap: 10px;
      }


      .box {
        padding: 20px;
        border: 0.5px solid gray;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;  

        @include mobile {
          
        }
        
        .stream {
          display: flex;
          justify-content: space-between;
          align-items: center;

          p {
            color: purple;
            font-weight: bolder;

            @include mobile {
              font-size: 10px;
            }
          }
        }
        
        h2 {
          text-align: center;
          font-weight: bold;
          letter-spacing: 2px;
        }

        p {
          text-align: justify;
          line-height: 1.5;
        }

        .grade {
          display: flex;
          justify-content: space-between;
          align-items: center;
        }
      }

      .box:hover {
        border: 1.5px solid purple;
        scale: 1.05;
      }
      
  }
}