@import "../../app.scss";

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: black;
  color: black;
 

  .bg {
    z-index: 999;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 400px;
    background: black;

    @include mobile {
      width: 250px;
    }

    @include tablet {
      width: 400px;
    }

    .links{
      position: absolute;
      width: 100%;
      height: 100%;
      color: white;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 20px;

      a {
        font-size: 20px;
        font-weight: bold;

        @include mobile {
          font-size: 20px;
        }

      }
    }
  }

  button {
    z-index: 999;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: fixed;
    top: 25px;
    left: 25px;
    background-color: transparent;
    cursor: pointer;
    border: none;

    @include mobile {
      width: 20px;
      height: 20px;
      border-radius: 50px;
      padding: 12px;
    }
    
  }
}